.form-container {
  max-width: var(--max-width);
}
.gifs-container {
  height: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}
.trends-container {
  min-height: 30vh;
}
.trends-container ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}
.trends-container a {
  text-decoration: none;
  color: aquamarine;
  font-family: sans-serif;
}
.trends-container a:hover {
  color: rgb(106, 138, 128);
}
input,
select {
  position: relative;
  padding: 1rem;
  border: 0;
}
.input-buscar {
  width: 20%;
  min-width: 70px;
  background-color: blue;
  color: whitesmoke;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.input-buscar:hover {
  background-color: rgb(17, 17, 104);
  transition: all 0.2s ease-in-out;
}
.input-select {
  border-left: 2px solid gray;
  height: 3rem;
  top: 1px;
  border-radius: 0 1rem 1rem 0;
}
.input-text {
  width: 30%;
  min-width: 150px;
  background-color: whitesmoke;
  color: gray;
}
