:root {
  --gridList-column: 250px;
  --gridList-rows: 250px;
  --gridList-gap: 6px;
}
@media screen and (min-width: 37.5rem) {
  :root {
    --gridList-column: 180px;
    --gridList-rows: 200px;
  }
}
@media screen and (min-width: 60rem) {
  :root {
    --gridList-column: 300px;
    --gridList-rows: 210px;
  }
}
.gifs-container {
  display: grid;
  min-height: 70vh;
  grid-template-columns: repeat(auto-fit, minmax(var(--gridList-column), 1fr));
  grid-auto-rows: var(--gridList-rows);
  grid-template-rows: masonry;
  grid-auto-flow: row dense;
  grid-gap: var(--gridList-gap, 6px);
  gap: var(--gridList-gap, 6px);
  align-items: center;
}
.form-container {
  position: sticky;
  top: 0;
  z-index: 999999;
  padding: 1rem 0;
  display: block;
  text-align: center;
  max-width: var(--max-width);
  background-color: #282c34;
}
input,
select {
  position: relative;
  padding: 1rem;
  border: 0;
}
.input-buscar {
  width: 20%;
  min-width: 70px;
  background-color: blue;
  color: whitesmoke;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.input-buscar:hover {
  background-color: rgb(17, 17, 104);
  transition: all 0.2s ease-in-out;
}
.input-select {
  border-left: 2px solid gray;
  height: 3rem;
  top: 1px;
  border-radius: 0 1rem 1rem 0;
}
.input-text {
  width: 30%;
  min-width: 150px;
  background-color: whitesmoke;
  color: gray;
}
