.nav-container {
  width: 100%;
  height: var(--header-height);
}
.nav-container a {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.logo {
  width: 6rem;
  height: auto;
  filter: invert(100%);
}
