.success-container {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1.8rem;
  z-index: 99;
  border-radius: .5rem .5rem 0 0;
  bottom: 0;
  left: 0;
  text-align: center;
  color: whitesmoke;
  background-color: rgb(128, 201, 19);
  transform: translateY(100%);
  transition: transform .5s ease-in-out;
}

.success-container p {
  font-size: 1rem;
}
.active {
  transform: translateY(0%);
  transition: transform .3s ease-in-out;
}
